.main-content {
    display: flex;
    justify-content: space-around;
}

.buttons {
    border: black 2px solid;
    width: 20%;
    height: 70vh;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    border: black solid 10px;
}

.pixel {
    box-sizing: border-box;
    border: .8px solid black;
    margin: 0;
    background-color: blue;
    /* height: 10px;
    width: 10px; */
}