* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    padding: 0 0 10vh 0;
    background-color: #DBE2EF;
}


/* Structure */

.title-div {
    padding: 10vh 0;
    margin-bottom: 5vh;
    background-color: #DBE2EF;
    color: #3F72AF;
    border-bottom-left-radius: 13%;
    border-bottom-right-radius: 13%;
    border: solid black 1px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.buttons {
    border: #3F72AF 2px solid;
    background-color: #F9F7F7;
    border-radius: 3%;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.container {
    width: 40vw;
    height: 85vh;
    background-color: #F9F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pixel-container {
    display: grid;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    border: #DBE2EF solid 10px;
}

.pixel {
    box-sizing: border-box;
    margin: 0;
    background-color: #F9F7F7;
}

.pixel-border {
    border-bottom: .1px solid #3F72AF;
    border-right: .1px solid #3F72AF;
}


/* btns */

.btn-div {
    margin: 10px 0;
    padding: 0 2.5rem;
}

.color-picker-div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


/* .choice-color-div>button {
    margin: 0 1rem;
} */

.btn {
    background-color: #F9F7F7;
    border: solid 1px #112D4E;
    padding: 15px 30px;
    font-weight: bolder;
    color: #112D4E;
    border-radius: 25px;
}