.main-content {
    display: flex;
    justify-content: space-around;
}

.buttons {
    border: black 2px solid;
    width: 20%;
    height: 70vh;
}

.container {
    width: 40vw;
    height: 85vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pixel-container {
    display: grid;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    border: black solid 10px;
}

.pixel {
    box-sizing: border-box;
    margin: 0;
    background-color: white;
}

.pixel-border {
    border-bottom: .1px solid black;
    border-right: .1px solid black;
}